.content {
  margin: 10px;
  text-align: center;

  .title {
    font-weight: bold;
  }
  .content {
    margin: 10px 0;
    p {
      margin: 5px 0;
    }

    max-width: 800px;
    margin: 0 auto;
  }
}
